<!DOCTYPE html>
<html>
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>MesaPortal | Admin Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="Admin web app for tracking mesa students and activities" name="description"/>
    <meta content="Cole Bessee | cbessee@uw.edu" name="author"/>
    {%  block stylesheets %}
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
        <!-- END PAGE LEVEL PLUGIN STYLES -->
        <!-- BEGIN THEME STYLES -->
        <link href="{{ asset('/global/css/components-md.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('/global/css/plugins-md.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('/layouts/layout/css/layout.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('/layouts/layout/css/themes/darkblue.min.css') }}" rel="stylesheet" type="text/css" id="style_color"/>
        <link href="{{ asset('/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('/layouts/layout/css/custom.css') }}" rel="stylesheet" type="text/css"/>
        <!-- END THEME STYLES -->
        <link rel="shortcut icon" href="favicon.ico"/>
    {% endblock %}
</head>
<!-- END HEAD -->
    <body class="page-header-fixed page-siebar-closed-hide-logo page-content-white page-md">
        <div class="page-wrapper">
        {% block header %}
            <!-- BEGIN HEADER -->
            <div class="page-header navbar navbar-fixed-top">
                <!-- BEGIN HEADER INNER -->
                <div class="page-header-inner ">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a href="{{ path('homepage') }}">
                            <img src="{{ asset('/images/logo.png') }}" alt="WA MESA" class="logo-default" /> </a>
                        <div class="menu-toggler sidebar-toggler">
                            <span></span>
                        </div>
                    </div>
                    {% if app.user %}
                    <form class="search-form" action="{{ path('search_students') }}" method="GET">
                        <div class="input-group">
                            <input class="form-control" placeholder="Search student name or SSID"
                            {% if search_string is defined %}
                                value="{{ search_string }}"
                            {% endif %}
                                   name="search" type="text">
                            <span class="input-group-btn">
                                <a href="javascript:;" class="btn submit">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                        </div>
                    </form>
                    {% endif %}
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                        <span></span>
                    </a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            {% if app.user %}
                            <li class="dropdown dropdown-user">
                               <a href="{{ path('new_student') }}">
                                    <span class="username">  New Student</span>
                                   <i class="fa fa-plus"></i>
                                </a>
                            </li>
                            {% endif %}
                            <li class="divider"></li>
                            {%  if app.user %}
                           <li class="dropdown dropdown-user">
                               <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <span class="username"> {{ app.user.username }}</span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="{{ path('fos_user_profile_edit') }}">
                                            <i class="icon-user"></i> Edit Profile </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_change_password') }}">
                                            <i class="icon-user"></i> Reset Password </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            <i class="icon-key"></i> Log Out </a>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                           <li class="dropdown dropdown-user">
                               <a href="{{ path('fos_user_security_login') }}">
                                   <span class="title">Login</span>
                                   <i class="fa fa-user"></i>
                                </a>
                            </li>
                            {% endif %}
                            <!-- END USER LOGIN DROPDOWN -->
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END HEADER INNER -->
            </div>
            <!-- END HEADER -->

        {%  endblock %}
        <div class="clearfix"></div>
        <div class="page-container">

            {%  block sidebar %}
                <!-- BEGIN SIDEBAR -->
                <div class="page-sidebar-wrapper">
                    <!-- BEGIN SIDEBAR -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <div class="page-sidebar navbar-collapse collapse">
                        <!-- BEGIN SIDEBAR MENU -->
                        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="false" data-slide-speed="200" style="padding-top: 20px">
                            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            <!-- END SIDEBAR TOGGLER BUTTON -->
                            <li class="nav-item start ">
                                <a href="{{ path('homepage') }}" class="nav-link">
                                    <i class="icon-home"></i>
                                    <span class="title">Home</span>
                                </a>
                            </li>
                            {% if app.user %}
                           <li class="nav-item  ">
                                <a href="{{ path('list_students') }}" class="nav-link">
                                    <i class="icon-user"></i>
                                    <span class="title">Students</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li class="heading">
                                    <h3 class="uppercase">Admin</h3>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <i class="icon-diamond"></i>
                                        <span class="title">Database Management</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                       <li class="nav-item">
                                            <a href="{{ path('list_centers') }}" class="nav-link">
                                                <span class="title">Centers</span>
                                            </a>
                                       </li>
                                       <li class="nav-item">
                                            <a href="{{ path('list_districts') }}" class="nav-link">
                                                <span class="title">Districts</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  ">
                                            <a href="{{ path('list_schools') }}" class="nav-link">
                                                <span class="title">Schools</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  ">
                                            <a href="{{ path('list_teachers') }}" class="nav-link">
                                                <span class="title">Teachers</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  ">
                                            <a href="{{ path('list_careers') }}" class="nav-link">
                                                <span class="title">Career Paths</span>
                                            </a>
                                        </li>

                                        <li class="nav-item  ">
                                            <a href="{{ path('list_activities') }}" class="nav-link">
                                                <span class="title">After School Activities</span>
                                            </a>
                                        </li>

                                        <li class="nav-item ">
                                            <a href="{{ path('list_courses') }}" class="nav-link">
                                                <span class="title">State Courses</span>
                                            </a>
                                        </li>

                                        <li class="nav-item  ">
                                            <a href="{{ path('list_course_subjects') }}" class="nav-link">
                                                <span class="title">State Course Subjects</span>
                                            </a>
                                        </li>

                                        <li class="nav-item  ">
                                            <a href="{{ path('list_academic_years') }}" class="nav-link">
                                                <span class="title">Academic Years</span>
                                            </a>
                                        </li>

                                        <li class="nav-item  ">
                                            <a href="{{ path('list_grades') }}" class="nav-link">
                                                <span class="title">Grade Levels</span>
                                            </a>
                                        </li>

                                        <li class="nav-item  ">
                                            <a href="{{ path('list_users') }}" class="nav-link">
                                                <span class="title">User Management</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                        <!-- end sidebar menu -->
                        <!-- end sidebar menu -->
                    </div>
                    <!-- end sidebar -->
                </div>
                <!-- end sidebar -->
            {%  endblock %}
            <div class="page-content-wrapper">
                <div class="page-content">
                    {% for msg in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger">
                            {{ msg }}
                        </div>
                    {%  endfor %}
                    {% for msg in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {{ msg }}
                        </div>
                    {%  endfor %}
                {% block body %}
                    {% block fos_user_content %}
                    {% endblock %}
                {% endblock %}
                </div>
            </div>
        </div>
        {% block footer %}
            <!-- begin footer -->
            <div class="page-footer">
                <div class="page-footer-inner"> 2016 © metronic |
                    <a href="https://www.washingtonmesa.org/">wa mesa</a>
                </div>
                <div style="display: block;" class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <!-- end footer -->
        {% endblock %}
        </div>
        {% block javascripts %}
            <!-- begin javascripts(load javascripts at bottom, this will reduce page load time) -->
            <!-- begin core plugins -->
            <!--[if lt ie 9]>
            <script src="{{ asset('/global/plugins/respond.min.js') }}"></script>
            <script src="{{ asset('/global/plugins/excanvas.min.js') }}"></script>
            <![endif]-->
            <script src="{{ asset('/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
            <!-- important! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
            <script src="{{ asset('/global/plugins/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('/global/plugins/select2/js/select2.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('/global/scripts/app.min.js') }}" type="text/javascript"></script>
            <!-- END CORE PLUGINS -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN PAGE LEVEL SCRIPTS -->
            <script src="{{ asset('/layouts/layout/scripts/layout.min.js') }}" type="text/javascript"></script>
            <script>
                $(document).ready(function () {
                    $('.select2').select2();
                })
            </script>
            <!-- END PAGE LEVEL SCRIPTS -->
            <!-- END JAVASCRIPTS -->
        {% endblock %}
    </body>
</html>
