{%  extends 'base.html.twig' %}

{%  block body %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('homepage') }}">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="{{ path('show_student', {'id': student.id}) }}">{{ student.lastName }}, {{ student.firstName }}</a>
            </li>
        </ul>
    </div>
    <h1 class="page-title">{{ student.lastName }}, {{ student.firstName }} <small>SSID #{{ student.stateStudentID }}</small></h1>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box red-mint">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>
                        <span class="caption-subject bold uppercase">Profile Info</span>
                    </div>
                    <div class="actions">
                        <a href="{{ path('view_student', {'id': student.id}) }}" class="btn btn-circle btn-default">
                            <i class="fa fa-user"></i>
                            View Details
                        </a>
                        <a href="{{ path('edit_student', {'id': student.id}) }}" class="btn btn-circle btn-default">
                            <i class="fa fa-pencil"></i>
                            Edit
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>DOB</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Address</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ student.birthDate|date('m/d/Y') }}</td>
                                <td>{{ student.email }}</td>
                                <td>{{ student.phoneNumber }}</td>
                                <td>{{ student.streetAddress }}, {{ student.city }}, {{ student.state }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box red-mint">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>
                        <span class="caption-subject bold uppercase">AIF Forms</span>
                    </div>
                    <div class="actions">
                        <a href="{{ path('new_aif', {'id': student.id}) }}" class="btn btn-circle btn-default">
                            <i class="fa fa-bars"></i>
                            New AIF
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Year</th>
                                <th>Center</th>
                                <th>School</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                                {%  if aifForms %}
                                    {% for form in aifForms %}
                                        <tr>
                                            <td>{{ form.currentAcademicYear }}</td>
                                            <td>{{ form.center }}</td>
                                            <td>{{ form.school }}</td>
                                            <td>
                                                <a href="{{ path('show_aif_form', {'id': student.id, 'aif_id': form.k12AifID}) }}" class="btn btn-circle btn-default">
                                                    <i class="fa fa-user"></i>
                                                    View AIF Details
                                                </a>
                                                <a href="{{ path('edit_aif_form', {'id': student.id, 'aif_id': form.k12AifID}) }}" class="btn btn-circle btn-default">
                                                    <i class="fa fa-pencil"></i>
                                                    Edit
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
{%  endblock %}