{%  extends 'base.html.twig' %}

{% form_theme seniorSurveyForm 'forms/rows.html.twig' %}

{%  block body %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('homepage') }}">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="{{ path('show_student', {'id': student.id}) }}">{{ student.lastName }}, {{ student.firstName }}</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="{{ path('show_survey_form', {'id': student.id, 'survey_id': seniorSurvey.seniorSurveyID}) }}">Senior Survey</a>
            </li>
        </ul>
    </div>
    <h1 class="page-title">Senior Survey <small>View the Senior Survey for {{ student.firstName }}, {{ student.lastName }}</small></h1>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box red-mint">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>
                        <span class="caption-subject bold uppercase">Senior Survey</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    {{ include('forms/surveyForm.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{%  endblock %}